main h2 {
    font-size: 3rem;
}

section#about-me {
    display: flex;

    width: 100%;
    height: 756px;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("../assets/pictures/edited_main_header_1.jpg");

    color: white;
}

section#about-me-text {
    display: flex;

    width: 24cm;
    height: auto;
    padding: 2.5cm 2.5cm;

    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0.25cm;

    flex-direction: column;

    background: rgba(0, 0, 0, 0.15);

    text-align: center;
    user-select: none;
}

section#about-me-text h1 {
    padding: 0 0 0.35cm 0;
    font-size: 2.5rem;
    /* text-decoration: underline; */
    text-shadow: 4px 2px 10px #00000028;
}

section#about-me-text p {
    margin-bottom: 0;
    
    font-size: 1.1rem;
    text-shadow: 4px 2px 10px #000000;
    line-height: 0.6cm;
}