* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: white;
    font-family: Roboto;
}

body {
    width: 100vw;
    min-height: 100vh;

    background-color: rgb(20, 20, 20);
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    font-weight: normal;
}

div#scroll-to-top-button {
    position: fixed;

    bottom: 1cm;
    right: 1cm;

    display: flex;

    width: 1.45cm;
    height: 1.45cm;

    border: 1px solid #ffe3d0;
    border-radius: 0.725cm;

    background-color: #a84e12;

    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
}